# 忽略 node_modules 目录
node_modules/

# 忽略环境变量文件
.env
.env.local

# 忽略 IDE 和编辑器生成的临时文件
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# 忽略日志文件
logs/
*.log

# 忽略编译输出
dist/
build/

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 npm 缓存文件
npm-debug.log*
yarn-error.log*

# 忽略其他临时文件
*.tmp
*.temp